.header-text{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items:center;
    margin-top: 10px;
}
.card-data{
    background-color: #ececec;
    margin: 15px 15px 30px 15px;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 10px;
}
mat-toolbar{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items:center;
    height: 100%;
}