<div class="crad" style="margin-bottom: 25px;">
  <div class="container">
    <p
      dir="rtl"
      style="text-align: right; margin-bottom: 5px;padding-top: 10px; color: rgb(2, 2, 2);text-align: justify; line-height: 25px;"
    >
      מתקשה לגבות כסף מלקוחות? בשביל זה יש לך מערכת גבייה אוטומטית כולל עורך דין
      !
      <br />
      מכתב עורך דין עולה מאות שקלים. לא אצלנו !
      <br />
      אם אתה עצמאי, חברה קטנה או גדולה, אנחנו נעשה עבורך את העבודה הזו ! שמענו
      כבר את כל התירוצים בעולם.... הצ'ק בדרך. המזכירה לא נמצאת היום. נשלח מחר
      ועוד ועוד. לפעמים הלקוח פשוט שכח לשלם.... או שלנו לא נעים לגבות....
      <br />
      <br />
      לקוח עושה 'בעיות' ? שלחו לו סמס. אם תרצו להגביר קצת 'לחץ', אז שלחו מייל.
      לא מספיק ? שלחו מכתב מעורך דין הכולל מכתב רשמי שייסע לכם לפתוח תיק הוצאה
      לפועל בהמשך הדרך וישלח בדואר רשום. בחרו 'חבילה' מאפשרויות המנוי שמוצעות,
      והכסף בדרך אליכם!
    </p>
    <a (click)="getBack()" class="back-to-home"><p>חזור לדף הבית</p></a>
  </div>
</div>
<div class="crad" style="margin-top: 15px;">
  <div class="container">
    <div class="card-header-text ">
      <span></span>
      <span style="margin-top:10px;"> דרכי התקשרות </span>
    </div>
    <hr />

    <p
      dir="rtl"
      style="text-align: right; margin-top: 5px; color: rgb(2, 2, 2);text-align: justify; line-height: 30px;"
    >
      טלפון: ינתן על ידי צפריר
      <br />
      מייל: ינתן על ידי צפריר
      <br />
    </p>
  </div>
</div>
