.header-text{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items:center;
    margin-top: 10px;
}


.card-data{
    background-color: #ececec;
    margin: 15px 15px 30px 15px;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 10px;
}

mat-toolbar{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items:center;
    height: 100%;
}


::ng-deep .mat-progress-spinner svg {
    width: 25px !important;
    height: 25px !important;
}

::ng-deep .mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate]{
    width: 25px !important;
    height: 25px !important;
}
.btn-primary{
    .title{
        margin-right: 20px;
    }
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ffff !important;
}